/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* DESIGN SYSTEM */
:root {
    --primary-color: #6204BF;
    --secondary-color: #0339A6;

    --background-color: #F2F2F2;
    --surface-color: #ffffff;

    --text-color: #222;
    --text-light: #fff;

    --completed-opacity: 0.6;

    --main-font-family: 'Montserrat', sans-serif;

    --radius: 8px;
}

/* BODY */
body {
    font-family: var(--main-font-family);
    background: var(--background-color);
    color: var(--text-color);

    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

/* HEADER */
header {
    background: var(--primary-color);
    color: var(--text-light);

    width: 100%;
    text-align: center;
    padding: 1rem;
}

/* MAIN */
main {
    margin-top: 20px;
    width: 90%;
    max-width: 500px;
    flex: 1;
}

/* TASK INPUT */
.task-input {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}

.task-input label{
    font-size: 2vh;
    font-family: var(--main-font-family);
}

/* Input field */
#taskInput {
    flex: 1;
    padding: 15px;
    border-radius: var(--radius);
    border: 1px solid #ccc;
}

/* BUTTON */
button {
    background: var(--secondary-color);
    color: var(--text-light);

    border: none;
    padding: 15px;
    border-radius: var(--radius);
    cursor: pointer;
}

/* TASK LIST */
.task-list ul {
    list-style: none;
}

/* Each task item */
.task-list li {
    background: var(--surface-color);
    padding: 10px;
    margin-bottom: 10px;
    border-radius: var(--radius);

    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Finished task */
.completed {
    text-decoration: line-through;
    opacity: var(--completed-opacity);
}

/* FOOTER */
footer {
    padding: 1rem 0;
    width: 100%;
    margin-top: 1.5rem;

    text-align: center;
    color: var(--text-light);
    background-color: var(--primary-color);
}