* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #6204BF;
    --secondary-color: #ffffff;

    --main-font-family: 'Montserrat', sans-serif;
}

/* Body */
body {
    font-family: var(--main-font-family);
    background: #F2F2F2;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

/* Header */
header {
    background: var(--primary-color);
    color: white;
    width: 100%;
    text-align: center;
    padding: 1rem;
}

/* Main */
main {
    margin-top: 20px;
    width: 90%;
    max-width: 500px;
    height: 100%;
    flex:1;
}

/* Tasks */
.task-input {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

#taskInput {
    flex: 1;
    padding: 10px;
}

button {
    background: #0339A6;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.task-list ul {
    list-style: none;
}

.task-list li {
    background: white;
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Finished task */
.completed {
    text-decoration: line-through;
    opacity: 0.6;
}

footer {
    padding: 1rem 0;
    width: 100%;
    margin: 1.5rem 0 0 0;

    text-align: center;
    color: var(--secondary-color);
    background-color: var(--primary-color);
}

footer p {
    font-size: 18px;
    margin: 10px;
}