* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Variables */

:root{
    --primary-color: #6204BF;
    --secondary-color: #0339A6;
    --tertiary-color: #21D904;
    --quaternary-color: #2CBF42;
    --null-color: #F2F2F2;

    --main-font: 'Montserrat', sans-serif;
    --secondary-font:'Quicksand', sans-serif;
}

/* Body */

body{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2vh;
    height: 100vh;
}

/* Header */

header{
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 7vh;
    padding: 1rem 0;
    color: var(--null-color);
    background-color: var(--secondary-color);
}

/* Main */

main{
    flex:1;
}

.explain{
    border: 1px solid var(--quaternary-color);
}

section{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    gap: 1vh;
    padding: 2vh;
    text-align: center;
}

section h2{
    width: 100%;
    padding: 2vh;

    text-align: center;
    color: var(--null-color);
    background-color: var(--secondary-color);
}

section p{
    text-align: center;
    font-family: var(--secondary-font);
}

section ul{
    padding: 0;
    margin: 0;

    text-align: center;
    list-style-type: none;
    font-family: var(--main-font);
}



/* FOOTER */

footer {
    padding: 1rem 0;
    width: 100%;
    margin: 1.5rem 0 0 0;

    text-align: center;
    color: var(--null-color);
    background-color: var(--secondary-color);
}

footer p {
    font-size: 18px;
    margin: 10px;

    font-family: var(--main-font-family);
}