* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    min-height: 100vh;
}

/* HEADER */

header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    padding: 0.5rem 0;
    background-color: #016C99;
    font-family: 'Quicksand', sans-serif;
}

header p {
    margin: 0 2rem;
    font-size: 1.7rem;
    font-weight: bold;
    color: #ffffff;
}

button {
    position: relative;
    z-index: 3;
    margin-right: 2.5rem;
    font-size: 3rem;
    border: 0;

    color: #FFFFFF;
    background-color: transparent;    
    text-align: center;
}

#menu {
    position: absolute;
    display: none;
    top:0;
    width: 100%;
}

#menu.open {
    display: block;
    background-color: #034e6e;
}

header nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    list-style: none;
}

header nav ul a {
    font-size: 1.4rem;
    color: #FFFFFF;
    text-decoration: none;
    cursor: default;
}

header nav ul li{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4rem;

    width: 100%;
}

header nav li:hover{
    background-color: #016C99;
    transition: transform 0.3s ease;
}

/* MAIN */

main{
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem;
    flex:1;
}

main h1{
    text-align: center;
    font-size: 2.5rem;
    margin: 3rem auto;
}

main section{
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
}

figure{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

figure figcaption{
    font-size: 1.3rem;
    color: #034e6e;
}

figure img {
    width: 100%;
    height: auto;
}

/* FOOTER */

footer {
    background-color: #016C99;
    text-align: center;
    padding: 1rem 0;
    margin: 1.5rem 0 0 0;
    width: 100%;
}

footer p {
    color: #fff;
    font-size: 18px;
    margin: 10px;
}