@media (min-width: 768px) {
    #menu{
        position: static;
        display: block;
        width: 60%;
    }
    
    #menu-button{
        display: none;
    }

    header{
        color: #ffffff;
    }

    header nav ul{
        flex-direction: row;
        justify-content: space-around;
    }

    header nav ul li:hover{
        background-color:#034e6e;
        transition: 0.3s;
    }

    main section{
        grid-template-columns: 1fr 1fr 1fr;
        gap: 3rem;
    }

}